PythonForEveryone/pagerank/
PythonForEveryone/test.db
PythonForEveryone/test_script.sql
PythonForEveryone/P1-Arithmetic Formatter/__pycache__/
PythonForEveryone/P2-Time_Calculator/__pycache__/
PythonForEveryone/P3-Budget_App/__pycache__/