Scientific_Computing_Python/pagerank/
Scientific_Computing_Python/test.db
Scientific_Computing_Python/test_script.sql
Scientific_Computing_Python/P1-Arithmetic Formatter/__pycache__/
Scientific_Computing_Python/P2-Time_Calculator/__pycache__/
Scientific_Computing_Python/P3-Budget_App/__pycache__/